<table style="width: 750px; font-size: 11pt; height: 372px;">
    <tbody>
        <tr>
            <td style="width: 35%; text-align: center; vertical-align: top; font-size: 14pt;" colspan="2">
                <span><strong>C&Ocirc;NG TY TNHH BẤT ĐỘNG SẢN V&Agrave; DU LỊCH V&Acirc;N ĐỒN</strong></span></br><br />
                <span style="font-size: 11pt;">Địa chỉ: Số 183, Đường 334, Khu 5, Thị Trấn C&aacute;i Rồng, Huyện V&acirc;n Đồn, Tỉnh Quảng Ninh</span> <br /> <br />
                <span style="font-size: 11pt;">Tel: 024.3200.4499 / 024.32032.444 / 02033.991.123</span><br /><strong>______________</strong><br /><br /> <span style="font-style: italic;">Số: [SO_HD] /DSHK</span>
            </td>
        </tr>
        <tr>
            <td>
                <p><strong>Chuyến: [HANH_TRINH]&nbsp;</strong> &nbsp; &nbsp; <strong>Giờ: [GIO]</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<strong>Ng&agrave;y: [NGAY_DI]</strong></p>
            </td>
            <td>
                <p>&nbsp;<strong>L&aacute;i xe: [LAI_XE]&nbsp;</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong>Xe: [BIEN_SO]</strong></p>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; font-size: 16pt; font-weight: bold;" colspan="2">DANH S&Aacute;CH H&Agrave;NH KH&Aacute;CH</td>
        </tr>
        <tr>
            <td style="text-align: center;" colspan="2">(K&egrave;m theo hợp đồng vận chuyển số [SO_HD] /HĐVCHK&nbsp;ng&agrave;y [NGAY] th&aacute;ng [THANG] năm [NAM])</td>
        </tr>
        <tr>
            <td colspan="2">
                <table style="width: 100%; border: 1px solid #000000; border-collapse: collapse;" cellspacing="5" cellpadding="5">
                    <tbody>
                        <tr style="font-weight: bold; text-align: center;">
                            <td style="border: 1px solid #000000; height: 30px;">STT</td>
                            <td style="border: 1px solid #000000;">Họ t&ecirc;n h&agrave;nh kh&aacute;ch</td>
                            <td style="border: 1px solid #000000;">Ghi ch&uacute;</td>
                        </tr>
                        <tr class="repeat">
                            <td style="text-align: center; border: 1px solid #000000; height: 30px;">[STT]</td>
                            <td style="text-align: left; padding-left: 8px; border: 1px solid #000000;">[HOVATEN]</td>
                            <td style="text-align: center; border: 1px solid #000000;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="text-align: center; border: 1px solid #000000; height: 30px;" colspan="4">Tổng số: [TONG_SO_KHACH] người</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 35px;" colspan="2">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">&nbsp;</td>
        </tr>
    </tbody>
</table>
<p>&nbsp;</p>